*{
    margin: 0%;
    padding: 0%;

}
body{
    background-color: black;
}
.box{
    width: 100vw;
    height: 80vh;
    background-color: black;
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
    
}
.box1{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    animation-name: animation1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:linear;


    

}

@keyframes animation1{
    10%{
        
        transform: translateY(0px) translateX(0px);
        
    }
    
    20%{
        transform: translateY(-200px) translateX(20vw);
        
    }
    30%{
        transform: translateY(0px) translateX(30vw);
        
    }
    40%{
        transform: translateY(-200px) translateX(40vw);
        
    }
    50%{
        transform: translateY(0px) translateX(50vw);
        
    }
    60%{
        transform: translateY(-150px) translateX(40vw);
        
    }
    70%{
        transform: translateY(0px) translateX(30vw);
        
    }
    90%{
        transform: translateY(-150px) translateX(10vw);
        
    }
}
