*{
    background-color: brown;
}.container1{
    background-color: aqua;
}

.container1 h1{
    color: red;
}
/* .container1>h1{
    color: red;
} */
#name{
    background-color: brown;
}
h1{
    background-color: cadetblue;
}
a:visited{
    background-color: rgb(29, 235, 22);
}
a:active{
    background-color: rgb(28, 62, 198);
}
/* a:hover{
    background-color: white;
} */
/* a:disabled{
    background-color: aqua;
} */
div:first-child{
background-color: blue;
}